html{
    background-color:White;
}

.about{
    width: 100%;
    align-self: center;
    text-align: center;
    display: inline-block;
}

.myself {
    padding:30px;
    padding-bottom:15px;
}

.myself img {
    width: 500px;
    border-radius: 50%;
}

.title{
    padding:5px;
    padding-bottom:0px;
}

.title h1{
    color: Black;
    padding:5px;
    text-align:center;
    font-size: 1.85em;
    font-family:'Cutive';

}

.allsite{
    padding:15px;
    padding-top:0px;
    margin-top:-10px;
    display: flex;
    justify-content: center;
}

.standard-text{
    position: relative;
    font-family:'Cutive';
    font-size: 1.25em;
    padding-top: 5px;
    padding: 25px;
    bottom: 15px;
}

.links{
    
    padding: 25px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.links a{
    color: black;
    padding: 25px;
    padding-top: 5px;
    font-size: 2.5em;
}

