.title h1{
    color: Black;
    padding:5px;
    text-align:center;
    font-size: 1.85em;
    font-family:'Cutive';

}

.allsite{
    padding:15px;
    padding-top:0px;
    margin-top:-10px;
    display: flex;
    justify-content: center;
}

.about{
    width: 100%;
    align-self: center;
    text-align: center;
    display: inline-block;
}

.myself {
    padding:30px;
}

.myself img {
    width: 500px;
    border-radius: 50%;
}

.standard-text{
    position: relative;
    top:20px;
    font-family:'Cutive';
    font-size: 1.25em;
    padding: 25px;
    padding-left: 5px;
}

.links{
    padding: 50px;
}


html{
    background-color:White;
}