html{
    background-color:White;
}

.about{
    width: 100%;
    align-self: center;
    text-align: center;
    display: inline-block;
}

.myself {
    padding:30px;
    padding-bottom:5px;
}

.myself img {
    height: 450px;
    border-radius: 50%;
}

.title{
    padding:5px;
    padding-bottom:0px;
}

.title h1{
    color: Black;
    text-align:center;
    font-size: 1.85em;
    font-family:'Cutive';
}

.allsite{
    padding:15px;
    padding-top:0px;
    display: flex;
    justify-content: center;
}

.standard-text{
    position: relative;
    font-family:'Cutive';
    font-size: 1.25em;
    padding: 1em;
}

.links{
    padding: 1.5em;
    display: flex;
    justify-content: center;
}

.links a{
    color: black;
    font-size: 2.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

